.share {
  display: flex;
  line-height: 30px;
  height: 30px;
  justify-content: center;
  white-space: nowrap;
  font-size: 14px;
  /* position: fixed;
    top: 90%;
    transform: translateY(-30px);
    width: 450px;
    background-color: #fbfbfb; */
}
.share_text {
  color: rgb(144, 147, 153);
  font-size: 14px;
  font-weight: 300;
  margin-right: 6px;
}

.share ul li {
  display: inline;
  margin-right: 5%;
}
li a {
  vertical-align: middle;
  margin-right: 3px;
}
#popup {
  position: absolute;
  top: 0;
  padding-top: 40px;
  right: -450px;
  box-sizing: border-box;
  width: 450px;
  transition: all 0.4s;
  height: 100%;
  border-radius: 5px;
  max-height: 785px;
  background-color: rgba(251, 251, 251, 100);
  text-align: center;
  z-index: 101;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

.mainContent{
  height: calc(100% - 78px);
  overflow: auto;
}
.noThingPage{
height: calc(100% - 35px);
}
#popup.showPopup {
  right: 0;
}
.closePopup {
  position: absolute;
  transform: none;
  left: 6px;
  bottom: 8px;
  cursor: pointer;
  font-size: 20px;
  z-index: 9999;
}

#popup .popupTitle {
  margin: 0;
  position: fixed;
  z-index: 9998;
  width: 450px;
  height: 40px;
  padding-top: 16px;
  background-color: #fbfbfb;
  top: 0;
  color: rgba(16, 16, 16, 100);
  font-size: 14px;
  text-align: center;
  font-family: SourceHanSansSC-regular;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}


/* 超过tab栏的布局 */
#popup .overTab .el-tabs__header {
  position: fixed;
  margin: 0;
  top: 30px;
  color: rgba(16, 16, 16, 100);
  z-index: 9998;
  width: 450px;
  background-color: #fbfbfb;
}
#popup .overTab .el-tabs__content {
    padding-top: 54px;
}
#popup .safeInfo {
  width: 90%;
  height: 90%;
  background-color: #fff;
  line-height: 20px;
  border-radius: 10px;
  color: rgba(16, 16, 16, 100);
  font-size: 14px;
  text-align: left;
  font-family: Roboto;
  border: 1px solid rgba(240, 240, 240, 100);
  padding: 70px 20px;
}
#popup .safeTitle {
  margin-bottom: 30px;
}
#popup .svg_icon_path {
  width: 24px;
  height: 24px;
  border-color: rgb(187, 187, 187);
  border-width: 0px;
  border-style: solid;
  color: rgb(255, 167, 0);
  fill: rgb(255, 167, 0);
  font-weight: normal;
  font-style: normal;
  filter: none;
  display: inline-block;
  vertical-align: text-bottom;
}
#popup .suggestion {
  font-family: SourceHanSansSC;
  font-weight: 700;
  font-size: 20px;
  color: rgb(16, 16, 16);
  font-style: normal;
  line-height: 29px;
  text-decoration: none;
}
#popup .safeContent {
  list-style: inherit;
  padding-left: 15px;
}
#popup .safeContent li {
  color: rgba(96, 99, 102, 100);
  font-size: 18px;
  line-height: 23px;
  font-family: SourceHanSansSC-regular;
  margin-bottom: 20px;
}
#popup .safeContent .circle {
  display: none;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: #000;
  margin-right: 3px;
}
#popup .closePage {
  width: 190px;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  background-color: rgba(64, 158, 255, 100);
  color: rgba(254, 255, 254, 100);
  font-size: 14px;
  text-align: center;
  font-family: Roboto;
  cursor: pointer;
  margin-top: 60px;
  margin-left: 50%;
  transform: translateX(-50%);
}
#popup .safeInfo .el-checkbox {
  margin-top: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  color: rgba(144, 147, 153, 100);
  font-size: 14px;
  font-family: SourceHanSansSC-regular;
  font-size: 14px;
}
#popup .el-tabs__header {
  margin: 0;
}
#popup .errTip {
  line-height: 20px;
  border-radius: 4px;
  background-color: rgba(255, 239, 240, 100);
  color: red;
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
  font-family: Roboto;
  padding-right: 4px;
}

#popup .popupContent {
  width: 100%;
  background-color: #fff;
}
#popup .userInfo {
  width: 100%;
  background-color: rgba(251, 251, 251, 100);
}
#popup .el-tabs__content {
  background-color: #fff;
  padding-top: 20px;
  box-shadow: rgb(0 0 0 / 20%) 4px 1px 3px;
}
.el-icon-d-arrow-right:before {
  font-size: 16px;
}
#popup .chatExport {
  height: 519px;
  padding: 0 20px 20px;
  box-sizing: border-box;
  overflow: auto;
}
#popup .el-step:nth-child(3) {
  display: none;
}
#popup .el-step:nth-child(2) {
  flex-basis: 34% !important;
}
#popup .el-step:nth-child(1) {
  flex-basis: 66% !important;
}
#popup .el-step__icon-inner {
  display: none;
}
#popup .el-step__line {
  color: rgb(179, 208, 252);
}
#popup .el-step__title {
  color: rgba(96, 99, 102, 100);
  font-size: 16px;
  font-family: SourceHanSansSC-regular;
}
#popup .el-step__icon.is-text {
  border-color: rgb(96, 99, 102);
}
#popup .el-step__description {
  padding: 0;
  color: rgba(96, 99, 102, 100);
}
#popup .serverName {
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 600;
}
.timerStep .chatFilter {
  width: 90%;
  line-height: 20px;
  border-radius: 9px;
  color: rgba(16, 16, 16, 100);
  font-size: 14px;
  text-align: left;
  font-family: Roboto;
  border: 1px solid rgba(221, 221, 221, 100);
  margin-top: 10px;
  padding: 10px 20px;
}
.chatFilter p {
  padding: 5px 0;
  font-family: SourceHanSansSC;
  font-weight: 400;
  font-size: 14px;
  color: rgb(144, 147, 153);
  font-style: normal;
  letter-spacing: 0px;
  line-height: 20px;
  text-decoration: none;
  margin: 2px 0;
}
.chatFilter svg {
  cursor: pointer;
}
.disExportBtn {
    width: 180px;
    height: 25px;
    line-height: 25px;
    /* margin-left: 50%; */
    transform: translateX(-50%);
    margin: 5px 0 5px 50%;
    border-radius: 4px;
    background-color: rgba(187, 187, 187, 100);
    color: rgba(254, 255, 254, 100);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;
    cursor: not-allowed;
}

.exportBtn {
    width: 180px;
    height: 25px;
    line-height: 25px;
    transform: translateX(-50%);
    margin: 5px 0 5px 50%;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgba(95, 157, 248, 100);
  color: rgba(254, 255, 254, 100);
  font-size: 14px;
  text-align: center;
  font-family: Roboto;
}
.el-input--mini .el-input__inner {
  box-sizing: border-box;
  width: 178px;
  height: 28px;
  line-height: 28px;
}
#popup .el-date-editor.el-input {
  width: 178px;
  margin: 0 2px;
}

#popup .fileExport {
  background-color: #fff;
  text-align: center;
    min-height: 500px;
  padding: 0 8px;
}
#popup .pfpExport {
  height: 568px;
  background-color: #fff;
  text-align: center;
  font-size: 16px;
  color: rgb(144, 147, 153);
}
#popup .fileSearch {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 100);
  color: rgba(64, 158, 255, 100);
  font-size: 13px;
  text-align: center;
  font-family: Roboto;
  border: 1px solid rgba(64, 158, 255, 100);
  padding: 4px 7px;
  display: inline-block;
  margin-left: 9px;
  cursor: pointer;
}
.initPage {
  font-family: SourceHanSansSC;
  font-weight: 400;
  font-size: 16px;
  color: rgb(144, 147, 153);
  font-style: normal;
  letter-spacing: 0px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  margin-top: 50%;
  transform: translateY(-50%);
}
.filePage {
  margin-top: 10px;
  width: 100%;
  /* height: 85%; */
  margin-left: 50%;
  transform: translateX(-50%);
  border: 1px solid #ccc;
}
.filePage .selectContent {
  width: 100%;
  height: 30px;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
}

.filePage .total {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-right: 1px solid #ccc;
}
.filePage .selectContent .el-input__inner {
  border: 0;
  margin-right: 1px;
}
.filePage .el-checkbox-group {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-top: 2px;
  /* background-color: red; */
}
.fileList .fileItem p {
  overflow: hidden;
  margin: 0px;
  color: rgba(96, 99, 102, 100);
  font-size: 14px;
  height: 15px;
  font-family: SourceHanSansSC-regular;
  margin-top: 5px;
}
.fileList .fileItem {
  width: 32%;
  height: 200px;
  margin-left: 1%;
  margin-bottom: 10px;
  /* background-color: rgb(240, 240, 240); */
  padding: 12px 2px;
  box-sizing: border-box;
}
.fileList .fileItem .el-checkbox {
  position: absolute;
  right: 4px;
  bottom: 4px;
}
.fileItem .img {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 90%;
  position: relative;
}
.fileExport .result {
  height: 32px;
  line-height: 32px;
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}
.fileExport .result span {
  flex: 1;
  color: rgba(144, 147, 153, 100);
  font-size: 12px;
  font-family: Helvetica-regular;
}
.fileExport .result .pageTo {
  border-radius: 4px;
  text-align: center;
  border: 1px solid #ccc;
  width: 30px;
  height: 14px;
  outline: none;
  margin-right: 5px;
}
.fileExport .el-icon-arrow-right,
.fileExport .el-icon-arrow-left {
  cursor: pointer;
}
.fileExport .ableClick:before {
  color: #000;
}
.fileExport .ableClick:hover {
  color: #4f7eed;
}
.fileExport .result i {
  font-style: normal;
}
.fileExport .result .nowPage {
  color: #4f7eed;
}
.fileExport .result .maxPage {
  color: #101010;
}
.fileExport .result .checkNoPage {
  color: #c1c4cb;
}
#popup .userTitle {
  text-align: left;
  padding-left: 20px;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
#popup .userText {
  display: inline-block;
  font-size: 16px;
  color: #333;
  margin-left: 13px;
  font-weight: 600;
}

.searchLoading {
  width: 122px;
  height: 123px;
  line-height: 123px;
  opacity: 0.6;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 1);
  text-align: center;
  position: absolute;
  top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  display: flex;
  align-content: center;
  z-index: 9999;
}
.exportLoading {
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(255, 255, 255, 100);
  font-size: 14px;
  text-align: center;
  font-family: SourceHanSansSC-bold;
}
.centerLoading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.centerSpan {
  color: #fff;
  position: absolute;
  left: 50%;
  bottom: -45px;
  transform: translateX(-50%);
}
.chatResult {
  color: rgba(96, 99, 102, 100);
  font-size: 14px;
  text-align: center;
  font-family: SourceHanSansSC-regular;
  margin-top: 10px;
}
#popup .fileItem .el-checkbox__label {
  display: none;
}
.total .el-checkbox__label {
  color: rgba(144, 147, 153, 100);
  font-size: 12px;
  font-family: Roboto;
}
#popup .nodataImg {
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
}
#popup .videoStyle {
  position: relative;
}
#popup .videoStyle svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#popup .fileList img,
#popup .fileList video {
  border: 1px solid #ccc;
  object-fit: contain;
}
/* tab栏的小竖线 */
#popup .el-tabs__nav-scroll [role="tab"] {
  padding: 0;
}
#popup .el-tabs__nav-scroll [role="tab"]:nth-child(3)::before {
  content: "|";
  color: rgba(187, 187, 187, 1);
  float: left;
}
#popup .el-tabs__nav-scroll [role="tab"]:nth-child(3)::after {
  content: "|";
  color: rgba(187, 187, 187, 1);
  float: right;
}
/* 滚动条在window系统上影响宽度，因此设置一个宽度 */
::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
::-webkit-scrollbar {
  width: 3px;
  scrollbar-face-color: #333;
}

/* 删除数字增减框 */
#popup input::-webkit-outer-spin-button,
#popup input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
#popup .chatFilter .el-button{
  font-size: 13px;
}
#popup .chatExport .el-input__inner{
  font-size: 13px;
}

.chooseList__start li:hover {
  background-color: #496b9d;
  cursor: pointer;
}

#popup .popupTitle .upgrade {
  background-color: #FA870C;
  color: #fff;
  border-radius: 4px;

}

#popup .popupTitle .login {
  background-color: #409EFF;
  color: #fff;
  border-radius: 4px;
  margin-left: 3px;
}

.avatar-info-export {
  height: calc(100% - 10vh);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.export-button {
  margin-top: 20px;
  text-align: center;
}

.el-table{
  overflow: auto;
}

#popup .avatar{
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background-color: #409EFF;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

#popup .flex{
  display: flex;
  align-items: center;
}

#popup .avatar-dropdown {
  position: relative;
  display: inline-block;
}

#popup .avatar {
  cursor: pointer;
}

#popup .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: -3px;
  top: 28px;
  white-space: nowrap;
}

#popup .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#popup .dropdown-content a:hover {
  background-color: #f1f1f1;
}

#popup .avatar-dropdown:hover .dropdown-content {
  display: block;
}




#popup .modal-container{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  left: 0px;
  top: 0px;
  z-index: 9999;

}
#popup .modal {
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(50% 50% at 50% 50%, rgb(132, 193, 255) 0%, #FBFBFB 100%);
}
#popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #999;
  cursor: pointer;
}
#popup .icon {
  color: #ff4d4d;
  font-size: 24px;
  margin-right: 10px;
}
#popup h2 {
  color: #333;
  margin-top: 0;
}
#popup #limitDialog p {
  color: #000;
  line-height: 1.5;
  margin-bottom: 20px;
}
#popup .upgrade-btn {
  background-color: #4d9aff;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#popup .upgrade-btn:hover {
  background-color: #3a7bd5;
}

#popup .export-limit{
  color:#FA870C;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}